@{
    ViewBag.Title = "UpdateContact";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="col-sm-12">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 panel panel-body">
        <h3 class="text text-center text-capitalize">Update Contact Panel</h3>
        <hr style="height:2px;background:green" />
        <form action="/Admin/UpdateContact" method="post">
            Your Name Here
            <input type="text" class="form-control" name="txtname" value="@ViewBag.name" />
            Your Email Here
            <input type="text" class="form-control" name="txtemail" value="@ViewBag.email" />
            Your Mobile Here
            <input type="text" class="form-control" name="txtmobile" value="@ViewBag.mobile" />
            Your Message Here
            <input type="text" class="form-control" name="txtmsg" value="@ViewBag.msg" />

            <input type="hidden" value="@ViewBag.cid" name="txtid" />
            <br />
            <input type="submit" class="form-control btn-success" value="Update Now" />
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
